@import "bootstrap";

.registered-ids-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.registered-ids-enter.registered-ids-enter-active {
  opacity: 1;
}

.registered-ids-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.registered-ids-leave.registered-ids-leave-active {
  opacity: 0.01;
}
