doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
    
  head
    title Youtube Comment Crawler - Register Video IDs
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    // inject:js
    // endinject
    // inject:css
    // endinject

  body
    header
      .container
        h1.page-header Youtube Comment Crawler

    section#react

        
        
        
        
